*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

#loadImage {
    float: right;
    margin-right: 10px;
    padding: 8px;
    background-color: #434343;
    display: table;
    border: none;
}

#loadImage:hover {
    background-color: #818181;
}

#canvas {
    left: 0px;
    top: 0px;
}

#container {
    position: absolute;
    left: 0px;
    top: 50px;
}

#toolbar{
    width: 100%;
    height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2f2f2f;
    color: white;
}

#title {
    float:left;
    margin-right: 5px;
    margin-top:5px;
    font-size: 24px;
}

#clearAll {
    float: left;
    margin-left: 10px;
    margin-top:5px;
    height: 30px;
    padding: 8px;
    background-color: #f24848;
    color: white;
    font-size: 14px;
    text-align: center;
}

#clearAll:hover {
    background-color: #d43434;
}

#undo {
    float:left;
    margin-left: 10px;
    margin-top: -5px;
    height: 30px;
    padding: 8px;
}

#undo:hover {
    transform: scale(1.2)
}

#btn-undo:active {
    transform: scale(1.4)
}

#redo {
    float: left;
    margin-left: 0px;
    margin-top: -3px;
    height: 30px;
    padding: 8px;
}

#redo:hover {
    transform: scale(1.2)
}

#btn-redo:active {
    transform: scale(1.4)
}

#save {
    float: right;
    margin-right: 10px;
    height: 45px;
    padding: 8px;
    background-color: #434343;
    text-align: center;

}

#save:hover {
    background-color: #818181;
}


#eraser {
    float: right;
}

#eraser:hover {
    transform: scale(1.2)
}

#btn-eraser:active {
    transform: scale(1.4)
}


#pen {
    float: right;
}

#pen:hover {
    transform: scale(1.2)
}

#btn-pen:active {
    transform: scale(1.4)
}

#shape{
    float: right;
    margin-right: 5px;
    margin-top:5px;
}

a {
    color: #ffffff;
}

.radcontrol{
    width: 30px;
    height: 30px;
    background-color: #9f9f9f;
    display: inline-block;
    text-algin: center;
    padding: 5px;
}

.radcontrol:hover {
    background-color: #4f4f4f;
}

.radcontrol:active {
    transform: scale(1.2)
}

#rad{
    float: left;
    margin-top:5px;
}

#colors {
    float: right;
    margin-top:5px;
}

.swatch {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 255, 0.5), 0px 2px 2px, rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    background-color: cyan;
}

.swatch:hover {
    transform: scale(1.4)
}

.swatch.active {
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 255, 0.5);
    transform: scale(1.2)

}
